@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color1: #01989F;
  --primary-color2: #00D4D4;
  --light-color: #DADEE7;
  --dark-color: #13181E;
  --secondary-color-blue: #16FACD;
  --secondary-color-red: #CC4C4C;
}

/* sidebar background color */
.dark_gradient_background {
  background: linear-gradient(180deg, #212A34 0%, #13181E 100%);;
}


/* header background and text color */
.dark_mode {
  background: rgba(134, 133, 133, 0.15);
  color: #fff;
}
.light_mode {
  background: rgba(134, 133, 133, 0.15);
  color: #3D3D3D;
}

.btn {
  background: linear-gradient(107deg, #00D4D4 13.39%, #FF5F36 77.64%);;
}
.colored-btn {
  justify-self: center;
  background-color: #01989F;
  color: #fff;
  font-size: 16px;
  width: 150px;
  height: 44px;
  padding: 8px 16px;
  margin-top: 44px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media(max-width: 767px) {
  .colored-btn {
    width: 100%;
  }
}

.colored-btn:hover {
  background-color: #01979fcc;
}

.login-input {
  background: inherit !important;
  border: 1px solid #fff !important;
  width: 100% !important;
  height: 45px !important;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px !important;
  border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  -ms-border-radius: 9px !important;
  -o-border-radius: 9px !important;
}
.login-input:last-of-type {
  margin-bottom: 5px !important;

}

/* .languag-btn button:hover,
.languag-btn button:focus {
  color: #13181E;
} */




